@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
    font-family: 'Noto Sans TC', sans-serif;
}
 
body {
    background-color: #F8F9FA;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

.navbar-nav.mr-auto {
    flex: 1;
    margin: auto !important;
    display: flex;
    justify-content: space-around;
}

.navbar > .search-form {
    min-width: 100%;
}

.nav-item.nav-link {
    padding: 4px;
}

.tab-pane {
    margin-bottom: 77px!important;
}

.home-history-preview {
    opacity: 0.3;
}

.card {
    box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.2);
}

p.card-text.text-muted {
    font-weight: 500;
}